@charset "UFT-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

header {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #F2E3D5;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

header > h1 {
    color: #012e40;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 2em;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
}

header > nav > a {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: #012e40;
    padding: 10px;
    text-decoration: none;
    transition-duration: 1.2s;
}

header > nav > a:hover {
    color: #3CA6A6;
    font-weight: 600;
    font-size: 1.1em;
    text-decoration: underline;
    text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.212);
}

main {
    min-width: 300px;
    max-width: 900px;
    margin: auto;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.15);
}

article {
    margin: 20px;
    columns: 2;
}

h2 {
    color: #012e40;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    text-align: center;
    padding: 20px;
}

p {
    font-family: "Montserrat", sans-serif;
    margin: 20px 0px;
    text-indent: 30px;
    font-size: 0.9em;
    line-height: 1.5em;
    text-align: justify;
}

aside {
    margin: 50px 20px;
    columns: 2;
}